.logos{
    height: 150px;
    margin-top: 20px;
}
.logos .logo1{
    width: 80%;
    height: 80px;
}
.logos .logo2{
    width: 80%;
    height: 80px;
}
.logos .logo3{
    width: 80%;
    height: 80px;
}
.logos .logo4{
    width: 80%;
    height: 80px;
}